/__pycache__
nerf/__pycache__
raw/__pycache__
raymarching/__pycache__
raymarching/build
shencoder/__pycache__
shencoder/build
gridencoder/__pycache__
gridencoder/build
freqencoder/__pycache__
freqencoder/build
/runs
/trial_bikes2
/trial_bikes_raw
/trial_bikes
/trial_lego_n
*.jpg
*.jpeg
*.png
*.gif
/img/*.png
/img/*.jpg
